@font-face {
    font-family: chillax;
    src: url(Chillax-Light.woff);
  }
  @font-face {
    font-family: tanker;
    src: url(Tanker-Regular.woff);
  }@font-face {
    font-family: britney;
    src: url(Britney-Bold.woff);
  }
}@font-face {
    font-family: author;
    src: url(Author-Regular.woff);
  }
html{
    width: 100%;
}
body{
    background-color: #D2D1AB;
    height: 100vh;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    overflow-x: hidden;
}


div{
    text-align: center;
    margin: 0;
}

section#navbar{
    display: flex;
    justify-content: space-between;
}
div.list{
    display: flex;
    justify-content: space-around;
    width: 20%;
}
a {
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-family: chillax;
    font-weight: bold;
}
div.header{
    height: 25%;
    
}
h1{
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
#h1-logo-section{
    position: relative;
    top: -70px;
    left: -360px;
    font-family: tanker;
    font-size: 48px;
}
#h1-logo{
    font-family: tanker;
    font-size: 48px;
}
h1#quality{
    margin: 50px;
    padding: 100px;
    font-family: britney;
    font-size: 400%;

}
img.icons{
    border: 10px;
}
div.links{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.image {
    margin-top: 50px;
    text-align: start;
}

footer{
    position: relative;
    top: 80%;
    bottom: 100%;
    height: 20%;
    width: 100%;
    background-color: #5F735D;
}
p#copyright{
    margin: 0;
    position: relative;
    bottom: -70%;
    left: 45%;
    font-family: chillax;
}

header#about, header#contact{
    text-align: center;
}
h2#aboutTitle {
    font-family: chillax;
}


div.main-products {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
    background-color: #c0bf96;
    }
    
    .product-name { grid-area: 2 / 1 / 4 / 4;}
    .paragraphe-product { grid-area: 4 / 1 / 8 / 4; }
    .title-product { grid-area: 1 / 1 / 2 / 10; }
    .secondImage { grid-area: 2 / 9 / 6 / 10;  }
    .firstImage { grid-area:  2 / 6 / 7 / 9; }
    .arrows { grid-area:  6 / 4 / 8 / 6; }
    .buttonBuy { grid-area: 7 / 9 / 8 / 10; }
    .barre { grid-area: 8 / 6 / 7 / 9; }



img#imageProduct {
    width: 80%;
    height: 80%;
    position: relative;
    bottom: -10%;
    right: -10%;
}

div.cercle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #DADBA1;
    position:relative;
    top: 15%;
    left: 15%;
    z-index: 2;
}
span#productTag{
    position: relative;
    top: 35%;
    left: 5%;
    font-family: chillax;
    font-weight: bold;
}
h1#Rubrique{
       font-size: 40px;

}
img#terroire{
    width: 100%;
    height: 100%;
}

h2#name-product:after{
    
        content: "";
        display: block;
        width: 250px;
        height: 2px;
        background: #000;
        left: 30%;
       
        position: absolute;
      
}
img#amlou{
    width: 100%;
    height: 100%;
}

p#paragraphe-product{
    font-family: chillax;
    text-align: center;
    font-size: 150%;
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1, h2, h3{
    font-family: chillax;
    color: #384E32;
}
h2#name-product{
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    font-size: 40px;
    transform: translate(-50%, -50%);
}
h3#sous-produit-name{
    margin: 0;
    position: relative;
    top: 60%;
    left: 50%;
    font-size: 30px;
    transform: translate(-50%, -50%);
}
button#buy{
    background-color: #384E32;
    border: 0;
    margin: 0;
    padding: 0;
    width: 80%;
    height: 40%;
    border-radius: 30px;
    color: black;
}
span{
    font-size: 20px;
}

button.arrowRight{
    background-color: gray;
    height: 80px;
    width: 80px;
    position: relative;
    bottom: -65%;
    left: 50%;
    border: 0;
    border-radius: 50%;
}button.arrowLeft{
    background-color: #D2D1AB;
    position: relative;
    bottom: -65%;
    height: 80px;
    width: 80px;
    border: 0;
    border-radius: 50%;
}

#sous-ArrowRight{
    position: relative;
    top: 65%;
    left: 0;
}
#sous-ArrowLeft{
    position: relative;
    top: -32%;
    left: -100%;
    background-color: gray;
}
.arrow {
    border: solid #384E32;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  div.barre-chargement{
    width: 80%;
    height: 15px;
    position: relative;
    top: 15%;
    left: 20%;
    background-color : #c0bf96;
  }
  
  div#contenu1
  {
    background-color :  #5F735D;
    width: 50%;
    height: 15px;
    transition: 2s;
    border-radius: 20px;
  }
  
button#next{
    background-color: #D2D1AB;
    position: relative;
    top: 20%;
    width: 60px;
    height: 30px;
}


div.image{
    text-align: center;
}